*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: 'Segoe UI', apple-system, Geneva, BlinkMacSystemFont, sans-serif;
    
}

p {
    color: #6f737a;
}

h1 {
    font-size: 2.5rem;
    line-height: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}
main {
    width: 100%;
    height: 50vh;
    min-height: 300px;
    /* padding: 5rem 8rem; */
}


div.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
header > nav{
    width: 100%;
    min-height: 20px;
} 
header > nav > ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 8rem ;
} 

header > nav > ul > p {
    
    color: #2463eb;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
}

header > nav > ul > li > a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    color: black;
}
header > nav > ul > li > a:hover {
    color: white;
    background-color: #7ba1f3;
}

header > nav > ul > li:nth-child(2) {
    margin-left: auto;
}
header > nav > ul > li:nth-last-child(1) {
    margin-right:4rem;
}

header > section.hero-section {
    width: 100%;
    height: 55vh;
    min-height: 300px;
    background-image: linear-gradient(to right ,#f7f9fb, #e9eef3);
    display: flex;
    box-shadow: -1px -2px 5px 0px #e1e5e8 inset;
    -webkit-box-shadow: -1px -2px 5px 0px #e1e5e8 inset;
    -moz-box-shadow: -1px -2px 5px 0px #e1e5e8 inset;
    box-shadow: -1px -2px 5px 0px #e1e5e8 inset;
    -webkit-box-shadow: -1px -2px 5px 0px #e1e5e8 inset;
    -moz-box-shadow: -1px -2px 5px 0px #e1e5e8 inset;
    padding: 0 8rem;
}

header > section.hero-section > div.hero-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > section.hero-section > div.hero-content > h1{
    margin-bottom: calc(3rem - (100vh * 0.02));
}
header > section.hero-section > div.hero-content > p{
    margin-bottom: calc(4rem - (100vh * 0.02));

}
header > section.hero-section > div.hero-content > button{
    color: white;
    font-weight: 700;
    background-color: #2463eb;
    width: 8rem;
    padding: 18px;
    border-radius: 7px;
    border: none;
}
header > section.hero-section > div.hero-photo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-left:4rem;
}


header > section.hero-section > div.hero-photo > div.circle {
    width: 300px;
    height: 300px;
    background-color: #e2e8f0;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main > section.info {
    display: flex;
    width: 100%;
    padding: 5rem 8rem;

}

section.info > div.about {
    flex:3;
    padding-right: 15rem;
}

section.info > div.about > h2{
    margin-bottom: 3rem;
    text-wrap: nowrap;
}

section.info > div.skills{
    flex:2;
}

section.info > div.skills > h3{
    margin-bottom: 1rem;
}

section.info > div.skills > div.tech {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

section.info > div.skills > div.tech > p {
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
}

div.progress-container {
    width: 100px;
    height: 10px;
    background-color: #e1e5e8;
    border-radius: 5px;

}

div.progress-container > div.progress {
    background-color: #2463eb;
    height: 10px;
    border-radius: 5px;
}

div.progress-container > div.js-prog {
    width: 90%;
}
div.progress-container > div.react-prog {
    width: 85%;
}
div.progress-container > div.node-prog {
    width: 75%;
}
div.progress-container > div.mongo-prog {
    width: 80%;
}


main > section.projects {
    width: 100%;
    padding: 5rem 8rem;
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section.projects  > h2{
    margin-bottom: 2rem;
}

main > section.projects > div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
   
}


div.cards > div.card {
    width: 23%;
    height: 420px;
    margin: 0.3rem;
    min-width: 270px;
}

div.card > div.project-image {
    height: 210px;
    background-color: #e2e8f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.card > div.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 210px;
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.card > div.project-info > h3 {
    font-size: larger;
}
div.card > div.project-info > p {
    font-size: 0.9rem;
}

div.card > div.project-info > a {
    display: block;
    text-decoration: none;
    padding: 5px;
    background-color: #f59e0b;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

main > section.contact-form {
    padding: 5rem 8rem;
}

section.contact-form > h2{
    text-align: center;
    margin-bottom: 4rem;
}

div.contact-container {
    display: flex;
}

div.contact-container > form{
    width: 60%;
    padding: 2rem;
}
 form > label {
    display: block;
}

form > input , form > textarea {
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 2px solid #d1d8e0;
}


 form > input {
    display: block;
    width: 100%;
    height: 2rem;
}
form > textarea {
    width: 100% !important;
    height: 7rem !important;
}

form > button{
    color: white;
    font-weight: 700;
    background-color: #2463eb;
    width: 10rem;
    padding: 10px 18px;
    border-radius: 7px;
    border: none;
}

div.contact-container > div.my-info{
    width: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.my-info > h3{
    margin-bottom: 1rem;
    white-space: nowrap;
}
div.my-info > p{
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

div.links {
    display: flex;
    flex-wrap: nowrap;
}

svg {
    width: 4rem;
    height: 4rem;
}


@media(max-width:900px){
    header > nav > ul > li:nth-last-child(1) {
        margin-right:0;
    }

    header > nav > ul{ 
        padding: 0 4rem ;
    } 

    header > section.hero-section {
        padding: 0 4rem;
    }

    main > section.info {
        padding: 2.5rem 3rem;
    }
    main > section.projects {
        padding: 2.5rem 2rem;
    }

    section.info > div.about { 
        padding-right: 1rem;
    }

    section.info > div.skills > h3{
        margin-bottom: 2rem;
    }

    div.cards > div.card {
        width: 43%;
        margin: 0.2rem;
        line-height: 1.2rem;
        min-width: 260px;
    }

    main > section.contact-form {
        padding: 2.5rem 2rem;
    }

    div.contact-container > div.my-info,  div.contact-container >form{
        flex: 1;
        padding: 1rem;
    }
}
